div a {
  text-transform: uppercase;
  float: left;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
}

.search {
  float: right;
  padding: 20px;
}

section {
  padding-bottom: 50px;
}

header {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

header img {
  border-radius: 50%;
  margin-top: 100px;
  width: 75px;
  height: 75px;

}

header h1 {
  color: #244224;
  font-family: 'lora',serif;
  font-size: 60px;
  letter-spacing: -1px;
  line-height: normal;
  margin: 5% 0 3%;

}
